NodeRed/flows.json
[{"id":"83311307.816b2","type":"tab","label":"Tiempo","disabled":false,"info":""},{"id":"2dd3a2.4be95c5e","type":"tab","label":"Precio Electricidad","disabled":false,"info":""},{"id":"91ca20bf.46505","type":"tab","label":"Encendido/apagado segun precio","disabled":false,"info":""},{"id":"5e63322a.91397c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"868f1b21.4ea6b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b7db1e0.21269e","type":"ui_spacer","name":"spacer","group":"ea9ac865.95bbb8","order":1,"width":1,"height":1},{"id":"5c43d8e0.ce1938","type":"ui_tab","name":"casa","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9758c67d.317818","type":"ui_group","name":"LuzHabitacion","tab":"5c43d8e0.ce1938","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc968707.c806f8","type":"ui_group","name":"RGB","tab":"5c43d8e0.ce1938","order":2,"disp":true,"width":"6","collapse":false},{"id":"1447c9e2.5b7616","type":"exec","z":"83311307.816b2","command":"python tiempo.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":410,"y":320,"wires":[["4b0f1341.fb4f4c","a4990151.36ad9"],[],[]],"outputLabels":["msg","",""]},{"id":"484be9ed.1fd1b8","type":"inject","z":"83311307.816b2","name":"TiempoPeriodico","props":[],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":320,"wires":[["1447c9e2.5b7616","b7b81486.0be8c8"]],"outputLabels":["msg.payload"]},{"id":"17afb1f3.2c995e","type":"comment","z":"83311307.816b2","name":"TiempoPeriodico","info":"Realiza de forma periodica la lectura del tiempo meteorologico gracias a la ejecucion del scrip \"tiempo.py\"","x":140,"y":280,"wires":[]},{"id":"a53cbb86.682288","type":"exec","z":"2dd3a2.4be95c5e","command":"python precioLuz.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":160,"wires":[[],[],[]]},{"id":"3ba5ad94.0a5982","type":"exec","z":"2dd3a2.4be95c5e","command":"python PrecioLuzActual.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":900,"y":240,"wires":[[],[],[]]},{"id":"7adc9cd7.9a97c4","type":"mqtt in","z":"2dd3a2.4be95c5e","name":"Actualiza","topic":"scripts/precioluz","qos":"2","datatype":"auto","broker":"5e63322a.91397c","x":340,"y":340,"wires":[["5a3b1572.467ebc","a53cbb86.682288"]]},{"id":"88671f55.a887f","type":"bigtimer","z":"2dd3a2.4be95c5e","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"0","endtime":"10001","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":380,"y":160,"wires":[[],["a53cbb86.682288"],[]]},{"id":"b245bd84.d1736","type":"mqtt out","z":"83311307.816b2","name":"Recoger","topic":"casa/motor/recoger","qos":"2","retain":"","broker":"5e63322a.91397c","x":800,"y":240,"wires":[]},{"id":"30c25c56.6b8464","type":"mqtt out","z":"83311307.816b2","name":"Desplegar","topic":"casa/motor/desplegar","qos":"2","retain":"","broker":"5e63322a.91397c","x":810,"y":340,"wires":[]},{"id":"4b0f1341.fb4f4c","type":"switch","z":"83311307.816b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NO","vt":"str"},{"t":"cont","v":"SI","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":300,"wires":[["b245bd84.d1736"],["30c25c56.6b8464"]]},{"id":"698750c5.b32db","type":"inject","z":"83311307.816b2","name":"LocalizacionLLuvia","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"melilla","payloadType":"str","x":290,"y":780,"wires":[["25014492.4be80c"]]},{"id":"25014492.4be80c","type":"mqtt out","z":"83311307.816b2","name":"localizacion","topic":"casa/localizacion","qos":"2","retain":"","broker":"5e63322a.91397c","x":530,"y":780,"wires":[]},{"id":"4d61e6c9.6d52b8","type":"inject","z":"83311307.816b2","name":"localizacionNoLLuvia","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sevilla","payloadType":"str","x":300,"y":840,"wires":[["16b2b299.e12f7d"]]},{"id":"16b2b299.e12f7d","type":"mqtt out","z":"83311307.816b2","name":"localizacion","topic":"casa/localizacion","qos":"2","retain":"","broker":"5e63322a.91397c","x":530,"y":840,"wires":[]},{"id":"f618e168.91044","type":"mqtt out","z":"83311307.816b2","name":"pasos","topic":"casa/motor/estado/pasos","qos":"2","retain":"","broker":"5e63322a.91397c","x":590,"y":400,"wires":[]},{"id":"a4990151.36ad9","type":"debug","z":"83311307.816b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":560,"wires":[]},{"id":"5bc31050.c7a6f","type":"mqtt in","z":"83311307.816b2","name":"pasos","topic":"casa/motor/estado/pasos/guardar","qos":"2","datatype":"utf8","broker":"5e63322a.91397c","x":250,"y":500,"wires":[["e8df6f63.ec3b8"]]},{"id":"e8df6f63.ec3b8","type":"file","z":"83311307.816b2","name":"pasos motor","filename":"motor.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":410,"y":500,"wires":[["a4990151.36ad9"]]},{"id":"fd6d8cbd.2d06a","type":"file","z":"83311307.816b2","name":"file ciudad","filename":"ciudad.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":420,"y":580,"wires":[["a4990151.36ad9"]]},{"id":"b6b940d3.778dd","type":"mqtt in","z":"83311307.816b2","name":"localizacion","topic":"casa/localizacion","qos":"2","datatype":"auto","broker":"5e63322a.91397c","x":270,"y":580,"wires":[["fd6d8cbd.2d06a"]]},{"id":"b7b81486.0be8c8","type":"file in","z":"83311307.816b2","name":"pasos motor","filename":"motor.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":400,"wires":[["f618e168.91044"]]},{"id":"5a3b1572.467ebc","type":"exec","z":"2dd3a2.4be95c5e","command":"python minutosRestantes.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":340,"wires":[["f6478895.bc9ea8","3ba5ad94.0a5982"],[],[]]},{"id":"f0eb7cb6.78fb8","type":"delay","z":"2dd3a2.4be95c5e","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":440,"wires":[["5a3b1572.467ebc"]]},{"id":"7433c68.f7f9838","type":"change","z":"2dd3a2.4be95c5e","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[["f0eb7cb6.78fb8"]]},{"id":"f6478895.bc9ea8","type":"function","z":"2dd3a2.4be95c5e","name":"","func":"msg.payload=msg.payload*1000*60;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":320,"wires":[["7433c68.f7f9838"]]},{"id":"ee29a43d.5a1b38","type":"file in","z":"91ca20bf.46505","name":"","filename":"parametrosLuz.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":370,"y":380,"wires":[["65b502c6.edc24c"]]},{"id":"65b502c6.edc24c","type":"function","z":"91ca20bf.46505","name":"","func":"if(msg.payload[0] == \"A\"){ \n   i=8;\n\n   msg['consigna'] = msg.payload[i];\n   i++;\n   \n\n   while(msg.payload[i] != \".\"){\n       msg['consigna'] += msg.payload[i];\n       i++;\n   }  \n   \n   msg['payload'] = msg['consigna'];\n   \n    return msg;\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["964e1cb7.759c1"]]},{"id":"a27b4a18.920fc8","type":"exec","z":"91ca20bf.46505","command":"python minutosRestantes.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":480,"wires":[["309e84a3.83e28c"],[],[]]},{"id":"309e84a3.83e28c","type":"function","z":"91ca20bf.46505","name":"","func":"msg.payload=msg.payload*1000*60;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":466,"wires":[["4e163eef.dca77"]]},{"id":"4e163eef.dca77","type":"change","z":"91ca20bf.46505","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":465,"wires":[["7c291a05.c71514"]]},{"id":"f1e1c89e.c69bb8","type":"mqtt in","z":"91ca20bf.46505","name":"","topic":"consigna","qos":"2","datatype":"auto","broker":"5e63322a.91397c","x":80,"y":380,"wires":[["e52b6316.93c8d","ee29a43d.5a1b38"]]},{"id":"e52b6316.93c8d","type":"file","z":"91ca20bf.46505","name":"","filename":"consigna.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":370,"y":320,"wires":[[]]},{"id":"964e1cb7.759c1","type":"exec","z":"91ca20bf.46505","command":"python compara.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":380,"wires":[["a27b4a18.920fc8","3f4f4cbd.353114"],[],[]]},{"id":"c78a2ac8.e57258","type":"mqtt out","z":"91ca20bf.46505","name":"","topic":"casa/switch1","qos":"2","retain":"","broker":"5e63322a.91397c","x":1190,"y":360,"wires":[]},{"id":"7c291a05.c71514","type":"delay","z":"91ca20bf.46505","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":620,"wires":[["ee29a43d.5a1b38"]]},{"id":"3f4f4cbd.353114","type":"function","z":"91ca20bf.46505","name":"","func":"if(msg.payload[1] == \"f\") msg.payload = \"off\";\nelse if(msg.payload[1] == \"n\")msg.payload = \"on\";\n\nreturn msg;\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":367,"wires":[["c78a2ac8.e57258"]]}]